
# Python List Comprehensions â€” Practice Notebook

Welcome! This notebook contains **easy â†’ medium â†’ harder** exercises on list comprehensions.
For each task you'll find a **Your turn** cell and a **Solution** cell right after.

Tips:
- Try to solve in the *Your turn* cell first ðŸ§ 
- Then compare with the solution âœ…
- You can collapse/expand sections using the notebook outline or headings.

## 1. Squares of numbers

Given `nums = [1, 2, 3, 4, 5]`, create a new list of their squares. Expected: `[1, 4, 9, 16, 25]`.

In [ ]:
# Your turn ðŸ‘‡
nums = [1, 2, 3, 4, 5]
# squares = [...]
# print(squares)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
nums = [1, 2, 3, 4, 5]
squares = [n*n for n in nums]
print(squares)


</details>

## 2. Filter even numbers

From `nums = [1, 2, 3, 4, 5]`, keep only even numbers. Expected: `[2, 4]`.

In [ ]:
# Your turn ðŸ‘‡
nums = [1, 2, 3, 4, 5]
# evens = [...]
# print(evens)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
nums = [1, 2, 3, 4, 5]
evens = [n for n in nums if n % 2 == 0]
print(evens)


</details>

## 3. Lengths of words

Given `words = ["apple", "banana", "kiwi"]`, build `[5, 6, 4]`.

In [ ]:
# Your turn ðŸ‘‡
words = ["apple", "banana", "kiwi"]
# lengths = [...]
# print(lengths)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
words = ["apple", "banana", "kiwi"]
lengths = [len(w) for w in words]
print(lengths)


</details>

## 4. Uppercase words

Transform all words in `animals = ["cat", "dog", "cow"]` to uppercase.

In [ ]:
# Your turn ðŸ‘‡
animals = ["cat", "dog", "cow"]
# uppercased = [...]
# print(uppercased)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
animals = ["cat", "dog", "cow"]
uppercased = [w.upper() for w in animals]
print(uppercased)


</details>

## 5. Numbers divisible by 3

From `range(1, 21)`, keep only numbers divisible by 3. Expected: `[3, 6, 9, 12, 15, 18]`.

In [ ]:
# Your turn ðŸ‘‡
# div_by_3 = [...]
# print(div_by_3)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
div_by_3 = [n for n in range(1, 21) if n % 3 == 0]
print(div_by_3)


</details>

## 6. First letters of words

From `names = ["Alice", "Bob", "Charlie", "Diana"]`, extract first letters.

In [ ]:
# Your turn ðŸ‘‡
names = ["Alice", "Bob", "Charlie", "Diana"]
# first_letters = [...]
# print(first_letters)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
names = ["Alice", "Bob", "Charlie", "Diana"]
first_letters = [n[0] for n in names]
print(first_letters)


</details>

## 7. Filter short words (â‰¤ 3)

From `tech = ["airflow", "dag", "spark", "sql"]`, keep words with length â‰¤ 3. Expected: `["dag", "sql"]`.

In [ ]:
# Your turn ðŸ‘‡
tech = ["airflow", "dag", "spark", "sql"]
# short = [...]
# print(short)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
tech = ["airflow", "dag", "spark", "sql"]
short = [w for w in tech if len(w) <= 3]
print(short)


</details>

## 8. Flatten a list of lists (one level)

Flatten `nested = [[1, 2], [3, 4], [5, 6]]` into `[1, 2, 3, 4, 5, 6]`.

In [ ]:
# Your turn ðŸ‘‡
nested = [[1, 2], [3, 4], [5, 6]]
# flat = [...]
# print(flat)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
nested = [[1, 2], [3, 4], [5, 6]]
flat = [x for sub in nested for x in sub]
print(flat)


</details>

## 9. Cartesian product (pairs)

Given `letters = ["A", "B"]` and `numbers = [1, 2, 3]`, produce `[('A',1), ..., ('B',3)]`.

In [ ]:
# Your turn ðŸ‘‡
letters = ["A", "B"]
numbers = [1, 2, 3]
# pairs = [...]
# print(pairs)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
letters = ["A", "B"]
numbers = [1, 2, 3]
pairs = [(L, n) for L in letters for n in numbers]
print(pairs)


</details>

## 10. Dictionary from two lists (zip)

Given `keys = ["name", "age", "city"]` and `values = ["Alice", 25, "Warsaw"]`, build a dict.

In [ ]:
# Your turn ðŸ‘‡
keys   = ["name", "age", "city"]
values = ["Alice", 25, "Warsaw"]
# d = {...}
# print(d)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
keys   = ["name", "age", "city"]
values = ["Alice", 25, "Warsaw"]
d = {k: v for k, v in zip(keys, values)}
print(d)


</details>

## 11. Flatten & square

From `matrix = [[1, 2, 3], [4, 5], [6]]`, create a flat list with squares of all numbers.

In [ ]:
# Your turn ðŸ‘‡
matrix = [[1, 2, 3], [4, 5], [6]]
# squared_flat = [...]
# print(squared_flat)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
matrix = [[1, 2, 3], [4, 5], [6]]
squared_flat = [x*x for row in matrix for x in row]
print(squared_flat)


</details>

## 12. Conditional replacement (negatives â†’ 0)

From `numbers = [5, -3, 0, 7, -1]`, replace negatives with 0; keep others.

In [ ]:
# Your turn ðŸ‘‡
numbers = [5, -3, 0, 7, -1]
# non_negative = [...]
# print(non_negative)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
numbers = [5, -3, 0, 7, -1]
non_negative = [x if x >= 0 else 0 for x in numbers]
print(non_negative)


</details>

## 13. Extract names of adults (age â‰¥ 18)

Given a list of dicts with `name` and `age`, return names where age â‰¥ 18. Expected: `["Alice", "Charlie"]`.

In [ ]:
# Your turn ðŸ‘‡
people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 17},
    {"name": "Charlie", "age": 30}
]
# adults = [...]
# print(adults)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 17},
    {"name": "Charlie", "age": 30}
]
adults = [p["name"] for p in people if p.get("age", 0) >= 18]
print(adults)


</details>


---

### Bonus ideas
- Try rewriting some solutions **without** comprehensions (plain loops) to compare clarity.
- Add type guards (e.g., `isinstance(x, int)`) when inputs may be messy.
- Measure performance with `%%timeit` for bigger inputs.

Happy practicing! ðŸŽ¯

---

# ðŸ”¥ Hard Mode â€” Advanced List Comprehension Challenges
Focus: nested loops, conditional expressions, dict/set comprehensions, and small algorithmic patterns.

## 14. Pythagorean triples (bounded)

Generate all **primitive or non-primitive** Pythagorean triples `(a, b, c)` with `1 â‰¤ a < b < c â‰¤ 30` such that `a*a + b*b == c*c`.

In [ ]:
# Your turn ðŸ‘‡
limit = 30
# triples = [...]  # list of (a, b, c)
# print(triples)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
limit = 30
triples = [(a, b, c)
           for a in range(1, limit+1)
           for b in range(a+1, limit+1)
           for c in range(b+1, limit+1)
           if a*a + b*b == c*c]
print(triples)


</details>

## 15. Matrix transpose (comprehension only)

Given `M = [[1,2,3],[4,5,6]]`, build its transpose `[[1,4],[2,5],[3,6]]`.

In [ ]:
# Your turn ðŸ‘‡
M = [[1,2,3],[4,5,6]]
# T = [...]
# print(T)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
M = [[1,2,3],[4,5,6]]
rows, cols = len(M), len(M[0])
T = [[M[r][c] for r in range(rows)] for c in range(cols)]
print(T)


</details>

## 16. Extract emails by multiple conditions

From the list of user dicts, get emails of **active** users from **PL** only:

In [ ]:
# Your turn ðŸ‘‡
users = [
    {"name":"Ala","email":"a@example.com","active":True,"country":"PL"},
    {"name":"Bob","email":"b@example.com","active":False,"country":"PL"},
    {"name":"Carl","email":"c@example.com","active":True,"country":"DE"},
    {"name":"Dana","email":"d@example.com","active":True,"country":"PL"},
]
# emails = [...]
# print(emails)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
users = [
    {"name":"Ala","email":"a@example.com","active":True,"country":"PL"},
    {"name":"Bob","email":"b@example.com","active":False,"country":"PL"},
    {"name":"Carl","email":"c@example.com","active":True,"country":"DE"},
    {"name":"Dana","email":"d@example.com","active":True,"country":"PL"},
]
emails = [u["email"] for u in users if u.get("active") and u.get("country") == "PL"]
print(emails)


</details>

## 17. Word frequency (case-insensitive, punctuation ignored)

Given a sentence, build a frequency dict using a **dict comprehension** (avoid external libs).

In [ ]:
# Your turn ðŸ‘‡
text = "Red, red. BLUE blue blue! Red?"
# freq = {...}
# print(freq)  # e.g., {'red': 3, 'blue': 3}

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
import re
text = "Red, red. BLUE blue blue! Red?"
words = [w.lower() for w in re.findall(r"[A-Za-z]+", text)]
freq = {w: words.count(w) for w in set(words)}
print(freq)


</details>

## 18. Invert a dict-of-lists

Invert mapping like `{'a':[1,2], 'b':[2,3]}` to `{1:['a'], 2:['a','b'], 3:['b']}`.

In [ ]:
# Your turn ðŸ‘‡
d = {'a':[1,2], 'b':[2,3]}
# inv = {...}
# print(inv)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
d = {'a':[1,2], 'b':[2,3]}
keys = d.keys()
values = set(x for vs in d.values() for x in vs)
inv = {v: [k for k in keys if v in d[k]] for v in values}
print(inv)


</details>

## 19. Diagonals of a square matrix

For `A = [[1,2,3],[4,5,6],[7,8,9]]`, extract **main** and **anti** diagonals using comprehensions.

In [ ]:
# Your turn ðŸ‘‡
A = [[1,2,3],[4,5,6],[7,8,9]]
# main_diag = [...]
# anti_diag = [...]
# print(main_diag, anti_diag)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
A = [[1,2,3],[4,5,6],[7,8,9]]
n = len(A)
main_diag = [A[i][i] for i in range(n)]
anti_diag = [A[i][n-1-i] for i in range(n)]
print(main_diag, anti_diag)


</details>

## 20. 2D grid with a constraint

Create points `(x,y)` for `x,y in range(-2,3)` but **exclude** the origin `(0,0)` and keep only points where `x+y` is even.

In [ ]:
# Your turn ðŸ‘‡
# points = [...]
# print(points)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
points = [(x, y)
           for x in range(-2, 3)
           for y in range(-2, 3)
           if not (x == 0 and y == 0) and (x + y) % 2 == 0]
print(points)


</details>

## 21. Conditional transform into a dict

From the list below, give a **raise** of `10%` to developers with salary `< 10_000` and build `{name: new_salary}`.

In [ ]:
# Your turn ðŸ‘‡
employees = [
    {"name":"Ala","role":"dev","salary":9000},
    {"name":"Ben","role":"qa","salary":9500},
    {"name":"Cora","role":"dev","salary":12000},
    {"name":"Dan","role":"dev","salary":7000},
]
# raises = {...}
# print(raises)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
employees = [
    {"name":"Ala","role":"dev","salary":9000},
    {"name":"Ben","role":"qa","salary":9500},
    {"name":"Cora","role":"dev","salary":12000},
    {"name":"Dan","role":"dev","salary":7000},
]
raises = {e["name"]: round(e["salary"] * 1.10, 2)
          for e in employees
          if e.get("role") == "dev" and e.get("salary", 0) < 10_000}
print(raises)


</details>

## 22. Flatten with None â†’ 0

From `B = [[1, None, 3], [None, 5], [6]]`, create a flat list replacing `None` with `0`.

In [ ]:
# Your turn ðŸ‘‡
B = [[1, None, 3], [None, 5], [6]]
# flat = [...]
# print(flat)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
B = [[1, None, 3], [None, 5], [6]]
flat = [0 if x is None else x for row in B for x in row]
print(flat)


</details>

## 23. Cartesian product with constraint

For `A = [1,2,3,4]` and `B = [10,11,12]`, produce pairs `(a,b)` where `a+b` is **even**.

In [ ]:
# Your turn ðŸ‘‡
A = [1,2,3,4]
B = [10,11,12]
# pairs = [...]
# print(pairs)

<details>
<summary><strong>Show solution</strong></summary>

In [ ]:
A = [1,2,3,4]
B = [10,11,12]
pairs = [(a, b) for a in A for b in B if (a + b) % 2 == 0]
print(pairs)


</details>